@using SudokuSite.Models;

@{
    ViewBag.Title = "Home Page";
}


<div class="row">

    <!-- FORM -->
    <div class="col-md-8">

        @if (!User.Identity.IsAuthenticated)
        {
            <h3 style="padding-left: 16px;padding-top: 10px;margin-bottom: 22px;">Хотите сохранять результаты игр? <strong>Авторизуйтесь!</strong></h3>
        }
     
        @*<!-- Alert -->
        <div id="_sent_ok_" class="alert alert-success fade in fsize16 hide">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <span id="_msg_txt_"><strong>Thank You!</strong> Your message successfully sent!</span>
        </div><!-- /Alert -->*@


        <form id="contactForm" action="/Home/SaveGame" method="post" enctype="multipart/form-data">
            @if (User.Identity.IsAuthenticated)
            {
                @*<input type="submit" value="Проверить" />
                <input style="display: none;" name="idgame" value="ViewBag.IdGame">*@
            }
            

            @{

                Dictionary<string, Point> dictP = ViewBag.Points;
                
                int o = 0;

                for (int y = 0; y < 9; y++)
                {

                    int u = 0;

                    <div class="row">
                        <div class="form-group" @(o == y / 3 ? Html.Raw("") : Html.Raw("style=" + '\u0022' + "border-top: 2px solid #ccc; padding-top: 20px;" + '\u0022'))>


                            @for (int x = 0; x < 9; x++)
                            {

                                <div class="col-md-1" @(u == x / 3 ? Html.Raw("") : Html.Raw("style=" + '\u0022' + "border-left: 2px solid #ccc; margin-right: 10px; padding-left: 20px; padding-right: 10px;" + '\u0022'))>

                                    @if (dictP[x + "" + y].Visibled)
                                    {
                                        <p style="margin-bottom: 0px; text-align: center; margin-top: 7px; font-size: 45px; min-height: 32px;">@dictP[x + "" + y].Value</p>
                                        <input id="point@(x)@(y)" style="display: none;" type="text" class="form-control" name="points" value="@dictP[x + "" + y].Value">

                                    }
                                    else
                                    {
                                        <input id="check@(x)@(y)" style="display: none;" type="text" class="form-control" value="@dictP[x + "" + y].Value">
                                        <input class="form-control" data-msg-required id="point@(x)@(y)" onkeyup="srav('check@(x)@(y)','point@(x)@(y)');" style="padding-left: 3px; padding-right: 3px; font-size: 25px; text-align: center; vertical-align:central;" type="text" name="points" @*@(User.Identity.IsAuthenticated ? "" : "disabled" )*@>

                                    }
                                </div>


                                u = x / 3;
                            }

                            <div class="col-md-3"></div>

                        </div>
                    </div>
                    o = y / 3;
                }
            }

            @*<input type="submit" value="Проверить" />*@

        </form>
      

    </div>
    <!-- /FORM -->
    <!-- INFO -->
    <div class="col-md-3">

        <h2 style="margin-bottom: 8px;">Правила игры</h2>

        <p style="text-align: justify;">
            Вам нужно найти все цифры на поле так, чтобы в одном блоке (горизонтальном, вертикальном или 3x3) цифра от 1 до 9 встречалась только 1 раз. 
        </p>

        @*<div class="divider half-margins"><!-- divider --></div>

        <p>
            <span class="block"><strong><i class="fa fa-map-marker"></i> Address:</strong> Street Name, City Name, Country</span>
            <span class="block"><strong><i class="fa fa-phone"></i> Phone:</strong> <a href="tel:1800-555-1234">1800-555-1234</a></span>
            <span class="block"><strong><i class="fa fa-envelope"></i> Email:</strong> <a href="mailto:mail@yourdomain.com">mail@yourdomain.com</a></span>
        </p>

        <div class="divider half-margins"><!-- divider --></div>

        <h4 class="font300">Business Hours</h4>
        <p>
            <span class="block"><strong>Monday - Friday:</strong> 10am to 6pm</span>
            <span class="block"><strong>Saturday:</strong> 10am to 2pm</span>
            <span class="block"><strong>Sunday:</strong> Closed</span>
        </p>*@

    </div>
    <!-- /INFO -->

</div>

@section js{


    <script type="text/javascript">
        //Код jQuery, установливающий маску для ввода телефона элементу input
        //1. После загрузки страницы,  когда все элементы будут доступны выполнить...


        $(function () {
            //2. Получить элемент, к которому необходимо добавить маску
            $.mask.definitions['9'] = '[1-9]';

            for (var z = 0; z < 9; z++) {

                for (var i = 0; i < 9; i++) {
                    $("#point" + i + z).mask("9");
                }

            }
        });

        function srav(one, two) {
            checker();

            var check = document.getElementById(one);
            var point = document.getElementById(two);
            if (check.value == point.value) {                

                point.setAttribute("style", "border: 1px solid green; padding-left: 3px; padding-right: 3px; font-size: 25px; text-align: center; vertical-align:central;");

            }
            else {
                point.setAttribute("style", "border: 1px solid red; padding-left: 3px; padding-right: 3px; font-size: 25px; text-align: center; vertical-align:central;");
            }

            

        }

        function checker() {
            Array.prototype.forEach.call(document.querySelectorAll('input[name=points]'), function (ths) {

                if (ths.value == "" || ths.value == null) {
             
                    ths.setAttribute("style", "padding-left: 3px; padding-right: 3px; font-size: 25px; text-align: center; vertical-align:central;");
                }
            });
        }

    </script>
}