<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html>
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>Судоку для Fincase</title>
    <meta name="keywords" content="HTML5,CSS3,Template" />
    <meta name="description" content="" />
    <meta name="Author" content="Dorin Grigoras [www.stepofweb.com]" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- mobile settings -->
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
    <!-- Favicon -->
    <link rel="shortcut icon" href="/assets/images/demo/favicon.png" />
    
    <!-- WEB FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&amp;subset=latin,latin-ext,cyrillic,cyrillic-ext" rel="stylesheet" type="text/css" />

    <!-- CORE CSS -->
    <link href="/assets/plugins/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/sky-forms.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/weather-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/line-icons.css" rel="stylesheet" type="text/css" />
    <link href="/assets/plugins/owl-carousel/owl.pack.css" rel="stylesheet" type="text/css" />
    <link href="/assets/plugins/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/animate.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/flexslider.css" rel="stylesheet" type="text/css" />

    <!-- REVOLUTION SLIDER -->
    <link href="/assets/css/revolution-slider.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/layerslider.css" rel="stylesheet" type="text/css" />

    <!-- THEME CSS -->
    <link href="/assets/css/essentials.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/layout.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/header-default.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/footer-default.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/color_scheme/red.css" rel="stylesheet" type="text/css" id="color_scheme" />

    <!-- Morenizr -->
    <script type="text/javascript" src="/assets/plugins/modernizr.min.js"></script>

    <!--[if lte IE 8]>
        <script src="/assets/plugins/respond.js"></script>
    <![endif]-->
</head>

<!--
    Available body classes:
        smoothscroll			= enable chrome browser smooth scroll
        grey 					= grey content background
        boxed 					= boxed style
        pattern1 ... pattern10 	= background pattern

    Background Image - add to body:
        data-background="/assets/images/boxed_background/1.jpg"
-->
<body class="smoothscroll">

    <div id="wrapper">

        <div id="header">
            <!-- class="sticky" for sticky menu -->
            <!-- Top Bar -->
            <header id="topBar">
                <div class="container">

                    <div class="pull-right fsize13 margin-top20 hide_mobile">

                        <!-- mail , phone -->
                        <a href="mailto:levnikolaevich@ya.ru">levnikolaevich@ya.ru</a> &bull; +79153297957
                        <p>Буду рад работать в компании ФинКейс</p>

                    </div>

                    <!-- Logo -->
                    <a class="logo" href="index.html">
                        <img src="/assets/images/logo.png" height="50" alt="" />
                    </a>

                </div><!-- /.container -->
            </header>
            <!-- /Top Bar -->
            <!-- Top Nav -->
            <header id="topNav">
                <div class="container">

                    <!-- Mobile Menu Button -->
                    <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Top Nav -->
                    <div class="navbar-collapse nav-main-collapse collapse">
                        <nav class="nav-main">

                            <!--
                                NOTE

                                For a regular link, remove "dropdown" class from LI tag and "dropdown-toggle" class from the href.
                                Direct Link Example:

                                <li>
                                    <a href="#">HOME</a>
                                </li>
                            -->
                            <ul id="topMain" class="nav nav-pills nav-main">
                               
                             
                        
                                @if (User.Identity.IsAuthenticated)
                                {
                                    @*<li>
                                        <a href="@Url.Action("AddNewGame","Home")">Новая игра</a>
                                    </li>*@
                                    <li>
                                        <a href="@Url.Action("LogOff", "Home")">Выйти</a>
                                    </li>
                                }
                                else
                                {

                                    <li>
                                        <a href="@Url.Action("Index","Home")">
                                            Главная
                                        </a>

                                    </li>
                                    <li>
                                        <a href="@Url.Action("LogIn","Home")">
                                            Войти / Зарегистрироваться
                                        </a>

                                    </li>

                                }
                                
                            </ul>

                        </nav>
                    </div>
                    <!-- /Top Nav -->

                </div><!-- /.container -->
            </header>
            <!-- /Top Nav -->

        </div>


  
        <!-- CONTENT -->
        <section>
            <div class="container">
                @RenderBody()

            </div>
        </section>
        <!-- /CONTENT -->
        <!-- FOOTER -->
        <footer id="footer">

            <div class="copyright">
                <div class="container text-center fsize12">
                    СудокуГейм &bull; Все права защищены для АБН Групп &copy; Levnikolaevich LLC. &nbsp;
                    @*<a href="page-privacy.html" class="fsize11">Privacy Policy</a> &bull;
                        <a href="page-terms.html" class="fsize11">Terms of Service</a>*@
                </div>
            </div>
        </footer>
        <!-- /FOOTER -->

        <a href="#" id="toTop"></a>

    </div><!-- /#wrapper -->
    <!-- JAVASCRIPT FILES -->
    @*-2.1.4.min*@
    <script type="text/javascript" src="/assets/plugins/jquery.js"></script>
    <script type="text/javascript" src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/assets/js/scripts.js"></script>
    <script type="text/javascript" src="/assets/js/jquery.maskedinput.js"></script>

    @RenderSection("js", false)

</body>
</html>